* {
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#root,
.App {
    height: 100%;
}

/* Home */
.App {
    display: grid;
    max-width: 100%;
    grid-template-rows: 4rem 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "Navbar" "Content" "Footer";
    position: relative;
    transform: translateX(0%);
    transition: all 1s ease;
}
/* Header */
#nav {
    grid-area: Navbar;
    display: flex;
    align-items: center;
}
.menuBtn {
    font-size: 2.5rem;
}
.BrandLogo {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}
.BrandLogo .Logo {
    height: 100%;
    width: 75px;
    background: url("./Assests/Image/BlackLogo.png");
    background-size: 100% 100%;
}
.BrandLogo .Name {
    height: 100%;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}
#sideBar {
    height: 100%;
    width: 90%;
    background: #fff;
    top: 0%;
    position: fixed;
    transform: translateX(-100%);
    transition: all 1s ease;
}
#closeMenu {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
}
#sideBar ul {
    margin-top: 5rem;
    list-style: none;
    text-decoration: underline;
    padding: 2rem;
    line-height: 5rem;
    font-size: 2.5rem;
}

/* Content */
#content {
    grid-area: Content;
}
.Banner {
    height: 60vh;
    background-image: url("./Assests/Image/Wickets.jpg");
    background-size: 100% 100%;
}
.Products {
    padding: 1rem;
}
.Products h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0.5rem 0 2rem;
}
#ProductCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
.card a {
    height: 100%;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
    text-decoration: none;
}
.CardImage {
    max-width: 100%;
    background-size: cover;
}
.CardTitle {
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.CompanyDesciption {
    /* height: 75vh; */
    min-height: 75vh;
}
.CompanyImage {
    padding: 0 1rem;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CompanyImage img {
    height: 60%;
    max-width: 100%;
    object-fit: cover;
}
.CompanyAbout {
    padding: 2rem;
}
.CompanyAbout > h2 {
    font-size: 3rem;
    margin: 0 0 1rem;
}
.CompanyAbout > p {
    margin: 0 0 1rem;
}
.newArrivals h1 {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}
#NewArrivals {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 1rem;
    justify-content: center;
}
/* Contact */
#contactUs {
    grid-area: Content;
    padding: 3rem;
}
.ContactDetails,
.ContactForm {
    padding: 1rem 2rem;
    line-height: 1.5rem;
}
.ContactDetails h1 {
    font-size: 2.5rem;
}
.ContactDetails h3 {
    font-size: 2rem;
}
.ContactDetails > h1,
h3 {
    line-height: 3rem;
}
.ContactList {
    list-style-type: none;
    margin: 1rem auto;
    font-size: 1.5rem;
}
.ContactList li {
    margin: 0.75rem 0;
}

.ContactForm input {
    margin: 0.5rem auto;
}
.ContactForm input[type="button"] {
    display: flex;
}
/* Footer */
#footer {
    grid-area: Footer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    padding: 1rem 2rem;
    border-top: 2px solid #000;
}
#footer .OfficeDetails {
    padding: 1rem;
    line-height: 1.5rem;
}
.OfficeDetails h1 {
    text-decoration: underline;
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}
.OfficeDetails p {
    font-size: 1.2rem;
}
.AboutFooter {
    padding: 1rem;
    font-size: 1.2rem;
}
.AboutFooter li {
    text-decoration: underline;
    cursor: pointer;
    line-height: 1.75rem;
}
.SocialIcons {
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 3rem;
}
.SocialIcons svg {
    font-size: 2rem;
    margin-right: 0.5rem;
}

/* Catagory */

#Catagory {
    grid-area: Content;
    padding: 1rem;
}
#Catagory h1 {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem 0.25rem;
}
.FootballEquipment {
    min-height: 20rem;
    padding: 1rem;
}
.FootballEquipment h1 {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #aaa;
}

#FootBallCard {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
/* Policies */

#Policies {
    grid-area: Content;
    padding: 2rem;
    line-height: 1.6rem;
    color: #333;
}
#Policies h1 {
    line-height: 2.5rem;
    text-decoration: underline;
    font-size: 2rem;
}
#Policies h3 {
    text-decoration: underline;
    font-size: 1.4rem;
}
@media screen and (min-width: 800px) {
    .Banner {
        height: 90vh;
    }
    .CompanyDesciption {
        display: flex;
    }
    .CompanyImage {
        min-width: 40%;
    }
    #sideBar {
        width: 30%;
    }
    #contactUs {
        display: flex;
    }
    #Policies {
        padding: 2.5rem;
    }
    #Policies div {
        max-width: 75%;
    }
    .FootballEquipment h1 {
        position: relative;
    }
}
